@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat&family=Quicksand:wght@600&family=Raleway&display=swap');

  body {
    background-image: url(mobile-bookmark-background.png);
    display:flex; 
    flex-direction:column; 
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  #backgroundDecoration{
    max-width: 15%;
    border-radius: 50%;
  }

  body > main {
    width: 90%;
  }
  
  
  h1 {
    font-family: 'Berkshire Swash', cursive;
    margin-bottom: 20px;
    font-size: 50px;
    background-image: url(goldFoil.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  h2 {
    color: red;
  }
  
  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 26px;
  }

  .flexMainMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }

  button, #addBookmark, input[type="button"], input[type="submit"]{
      border-radius: 10px;
      background-color: #CF9430;
      color: #010203;
      font-size: 14px;
      height: 40px;
  }

  #dropdown {
    border-radius: 10px;
    border: 2px outset -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    background-color: #CF9430;
    color: #010203;
    font-size: 14px;
    height: 40px;
  }


  /* styles for user add bookmark view  */
  
  .addBookMarkWindowView {
    border: solid 2px #3D2C0E;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  textarea, input {
    font-family: 'Raleway', sans-serif;
  }

  form {
    width: 100%;
    margin: auto;
  }
  
  form input[type="text"], input[type="url"] {
    width: 195px; 
    height: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: solid 2px #70511A;
    border-radius: 4px;
  }
  
  textarea {
    width: 196px;
    height: 50px;
    border: solid 2px #70511A;
    border-radius: 4px;
  }
  
  form > section { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    width: 200px;
    margin: auto;
  }

  section#error-container {
    margin: 20px 0;
  }

  section#error-container > p {
    text-align: center;
    color: #bf4242;
  }
  
  /* style for user bookmark display  */
  
  ul {
    list-style-type: none;
    width: 90%;
    margin: 0 auto 30px auto;
    padding: 0;
  }
  
  li {
    border: 2px #887148 double;
    padding: 10px 5px;
    width: 95%;
    margin-bottom: 5px; 
    margin-left: auto;
    margin-right: auto;
  }
  
  fieldset {
    margin: auto;
  }

  .flexListElements {
    display: flex;
    margin: 0;
    flex-direction: column;
  }
  
  
  /* styles for when user clicks view more in their bookmark list  */
  .hide {
    display: none;
  }
  
  .bookmarkDetails {
    width: 95%;
    margin: auto;
  }

  a{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #CF9430;
  }
  
  p {
    text-align: start;
    margin: 20px 0 10px 0;
  }
  
  p.websiteDescription {
    text-align: start;
    margin: auto;
    height: 20px;
    width: 95%;
    overflow: scroll;
    overflow-y: scroll;
  }

  @media screen and (min-width: 400px) { 
    
    body {
      margin: 50px auto;
      width: 90%;
    }
    
    h3 {
      margin-bottom: 15px;
    }
    fieldset {
      margin: 0;
    }
    .flexListElements {
      flex-direction: row;
      justify-content: space-evenly;
    }

    .bookmarkDetails{
      width: 80%;
    }

  }


  @media screen and (min-width: 600px) {
    
    body {
      margin: 50px auto;
      width: 670px;
    }

    .bookmarkDetails{
      width: 70%;
    }

  }

/* ****** Need to add desktop styles here ******    */



    